{% load static %}
<html>
<head>
    <style>
        .search {
          position: relative;
          width: 300px;
        }

        .search img{
          position : absolute;
          width: 17px;
          top: 10px;
          right: 12px;
          margin: 0;
          cursor: pointer;
        }

        .search input{
          width: 100%;
          border: 1px solid #bbb;
          border-radius: 8px;
          padding: 10px 12px;
          font-size: 14px;
        }
    </style>
    <script>
        function search(){
            var a = document.getElementById("query").value
            console.log(a);
            console.log(true);

        }
    </script>
</head>
<body>
<div class="search">
    <from action="{% url 'search' %}">
            <input type="text" name="query" value="" placeholder="검색어 입력" id = "query">
            <img typeof="" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" alt="검색" onclick=search()>
    </from>
</div>
    {% if data.error %}
        <p>Error Data</p>
    {% else %}
    <h1>{{data.slip.advice}}</h1>
    {% endif %}
</body>

</html>
